.expert__box {
    /* list-style: none;
    text-decoration: none;
    display: flex;
    margin: 0 auto;
    padding: 0;
    justify-content: space-between; */
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}


.table {

    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
    color: #998158;
    font-family: "Montserrat-thin";
    font-style: normal;
    font-weight: 400;
    padding-top: 50px;
    justify-content: space-between;
}

.photo {
    list-style: none;
    width: 320px;
    margin: 0;
}


.expert__name {
    color: #998158;
}

.expert__inner {
    text-align: center;
    margin: 0;
    position: relative;
}

.position__expert {
    font-family: "Montserrat-SemiBold";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-top: 50px;
}

.position__tv {
    text-transform: uppercase;
    font-family: "Montserrat-SemiBold";
}

.expert__wrap {
    display: block;
    width: 50%;
    height: 220px;
    border: 2px solid #bbad9a;
    background-color: #eae9e9;
    font-family: "Montserrat-Thin";
    font-size: 12px;
    font-style: normal;
    margin: 0 auto;
    text-align: left;
    padding-left: 40px;
    position: relative;

}

.expert__note {
    font-size: 16px;
    font-family: "Montserrat-SemiBold";
}

.expert__desc__subtitle {
    font-size: 60px;
    position: relative;

}

.expert__more {
    background-position-x: 20%;
    width: 30px;
    height: 30px;
    margin: 0;
    background: url(../img/bestseller/icons_button_bestseller.png);
    background-repeat: no-repeat;

}