/* HEADER */
.header {
  display: block;
  background-color: #dadada;
}

/* HEADER INNER */
.header__inner,
.header__menu,
.header__navigations-wrap,
.header__social {
  display: flex;
  justify-content: space-around;
}

.header__menu,
.header__social {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}


/* LOGO */
.header__logo {
  width: 200px;
}

.header__navigations {
  display: block;
  padding-top: 53px;

}


/* MENU */

/* NAVIGATIONS */
.header__menu {
  border-bottom: 1px solid #000000;
}

.menu__item {
  margin-right: 30px;
}

.menu__item a,
.header__social a {
  text-decoration: none;
  color: black;
}

.menu__item a {
  font-size: 16px;
}


.header__navigations-wrap {}

/* SOCIAL ICONS */
.header__social {}

.header_icons {
  display: block;
  width: 26px;
  height: 27px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  border: 1px solid #000000;
  border-radius: 50%;
}

.icons_vk {
  background-image: url('../img/icons/icon_vk.png');
}

.icons_facebook {
  background-image: url('../img/icons/icon_facebook.png');
}

.icons_instagram {
  background-image: url('../img/icons/icon_instagram.png');
}

.icons_google {
  background-image: url('../img/icons/icon_google-plus.png');
}