/* normalize css */
@import url('./normalize.css');

/*add specifications */
@import url('./specification.css');

/* fonts */
@import url('./fonts.css');

/* header */
@import url('./header.css');

/* quote */
@import url('./quote.css');

/* slider */
@import url('./slider.css');

/* news */
@import url('./news.css');



.img {
  display: block;
  max-width: 100%;
  height: auto;
}


.container {
  display: block;
  width: 1360px;
  margin: 0 auto;
}