/* normalize css */
@import url('./normalize.css');

/*add specifications */
@import url('./specification.css');

/* fonts */
@import url('./fonts.css');


@import url('./header.css');

@import url('./quote.css');

img {
  display: block;
  max-width: 100%;
  height: auto;
}


.container {
  display: block;
  width: 1360px;
  margin: 0 auto;
}