.news__box {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-bottom: 60px;
    position: relative;
}

.news__word {
    font-size: 80px;
    list-style: none;
    color: #998158;
    margin: 0;
    font-family: 'Montserrat-Thin';


}

.news__logo {
    width: 35%;
    margin: 0;
    padding: 0;
    margin: 0 10px;


}

.date {
    color: #888888;
    list-style: none;
    font-size: 16px;
}

.news__date {
    margin-top: 30px;
    width: 30%;
    list-style: none;
    font-size: 16px;

}

.news__text {
    list-style: none;
    padding: 0 auto;
    font-size: 30px;
    text-align: left;
    margin: 0;

}

.play__holder__nav {
    content: '';
    position: absolute;
    top: 80%;
    right: 460px;
    transform: translateY(-50%);
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../img/bestseller/icons_button_bestseller.png);
}




.holder {
    content: '';
    position: absolute;
    width: 50px;
    height: 100px;
    background: url(../img/news/Raght__side.png);
    background-repeat: no-repeat;
    color: #998158;
    top: 30%;
    right: 20px;
    transform: translateY(-40%);
    border: none;
}